/* Primary colors */
.u-color--crimson { color: #a51c30; }
.u-color--midnight-blue { color: #213153; }
.u-color--dark-aqua { color: #006072; }
.u-color--cornflower-blue { color: #185c90; }
.u-color--mortar { color: #6e6259; }

/* Secondary colors */
.u-color--sea-blue { color: #68A2B9; }
.u-color--pistachio-green { color: #528023; }
.u-color--dark-pistachio { color: #528023; }
.u-color--burnt-orange { color: #C94D18; }
.u-color--lemon-yellow { color: #FFD86D; }
.u-color--mid-gray { color: #BCBCBC; }
.u-color--dark-gray { color: #8A8A8A; }
