
<div class="c-related-articles">
  <h2 class="f-title--h4">Related Work</h2>
  <ul class="c-related-articles__list">
  {% for item in items %}
    <li>{{ item.content }}</li>
  {% endfor %}
  </ul>
</div>
