// ----
// Spacing values based on an 8pt grid
// More info: https://spec.fm/specifics/8-pt-grid
// ----
$spacing: 0.8rem;

$space-xxxs: 0.4rem;  // $spacing * 0.5;
$space-xxs: 0.8rem;  // $spacing * 1;
$space-xs: 1.2rem;  // $spacing * 1.5;
$space-s: 1.6rem;  // $spacing * 2;
$space-m: 2.4rem;  // $spacing * 3;
$space-l: 3.2rem;  // $spacing * 4;
$space-xl: 4.8rem;  // $spacing * 6;
$space-xxl: 7.2rem;  // $spacing * 9;
$space-xxxl: 12.8rem;  // $spacing * 16;

// ----
// Spacing list for utility classes
//
// see `08-Utilities/utils.spacing.scss
// Array format: 'class-base': $spacing-var
// ----

$spaces: (
  xxxs: $space-xxxs,
  xxs: $space-xxs,
  xs: $space-xs,
  s: $space-s,
  m: $space-m,
  l: $space-l,
  xl: $space-xl,
  xxl: $space-xxl,
  xxxl: $space-xxxl,
);
