.f-title--h1 { @include f-title--h1; }
.f-title--h2 { @include f-title--h2; }
.f-title--h3 { @include f-title--h3; }
.f-title--h3-serif { @include f-title--h3-serif; }
.f-title--h4 { @include f-title--h4; }
.f-title--h5 { @include f-title--h5; }
.f-title--h5-sans { @include f-title--h5-sans; }
.f-title--h6 { @include f-title--h6; }

.f-title--subhead { @include f-title--subhead; }
.f-title--homepage-subhead { @include f-title--subhead; }

.f-text--body { @include f-text--body; }
.f-text--body-serif { @include f-text--body-serif; }
.f-text--body-small { @include f-text--body-small; }
.f-text--body-small-serif { @include f-text--body-small-serif; }

.f-text--main-cta { @include f-text--main-cta; }
.f-text--small-cta { @include f-text--small-cta; }
.f-text--cta-all-caps { @include f-text--cta-all-caps; }

.f-text--eyebrow { @include f-text--eyebrow; }
.f-text--card-eyebrow { @include f-text--card-eyebrow; }

.f-text--pull-quote { @include f-text--pull-quote; }
.f-text--pull-quote-credit { @include f-text--pull-quote-credit; }

.f-text--caption { @include f-text--caption; }
.f-text--caption-italic { @include f-text--caption-italic; }

.f-text--breadcrumb { @include f-text--breadcrumb; }
.f-text--metadata { @include f-text--metadata; }

.f-text--megamenu-header { @include f-text--megamenu-header; }
.f-text--megamenu-subhead { @include f-text--megamenu-subhead; }
.f-text--person-list-name { @include f-text--person-list-name; }
.f-text--program-card-text { @include f-text--program-card-text; }
.f-text--program-table-iteration { @include f-text--program-table-iteration; }
.f-text--search-result { @include f-text--search-result; }

p {
  @include f-text--body;

  &.lede {
    @include f-text--body-large;
    /* max-width: 40em; */
    /* font-weight: 600; */
  }

  + p {
    margin-top: 1em;
  }
}

h1 { @include f-title--h1; }
h2 { @include f-title--h2; }
h3 { @include f-title--h3; }
h4 { @include f-title--h4; }
h5 { @include f-title--h5; }
h6 { @include f-title--h6; }

.paragraph--type--wysiwyg {

  a {
    color: var(--c-red);
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }

    &.blue {
      color: var(--c-polynesian-blue);
    }
  }

  h2 {
    &.underline {
      border-bottom: 5px solid var(--c-saffron);
    }
  }

  h3 {
    &.underline {
      border-bottom: 3px solid var(--c-delft-blue);
    }
  }

  h4 {
    &.underline {
      border-bottom: 3px solid var(--c-polynesian-blue);
    }
  }

  h5 {
    &.underline {
      border-bottom: 3px solid var(--c-cerulean);
    }
  }

  h6 {
    &.underline {
      border-bottom: 3px solid var(--c-powder-blue);
    }
  }

  ul,
  ol {
    margin: 1em 0;
    padding-left: 40px;

    li::before {
      content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
      color: var(--c-red); /* Change the color */
      font-weight: bold; /* If you want it to be bold */
      display: inline-block; /* Needed to add space between the bullet and the text */
      width: 1em; /* Also needed for space (tweak if needed) */
      margin-left: -1em; /* Also needed for space (tweak if needed) */
      font-size: 115%;
    }

    &.col-2 {
      @media (--sm) {
        columns: 2;
      }
    }

    &.col-3 {
      @media (--sm) {
        columns: 2;
      }
      @media (--md) {
        columns: 3;
      }
    }

    &.col-4 {
      @media (--sm) {
        columns: 2;
      }
      @media (--md) {
        columns: 4;
      }
    }
  }

  ol {
    margin: 1em 0;
    padding-left: 40px;
    counter-reset: item;

    li::before {
      content: counter(item) ". ";
      counter-increment: item;
      font-weight: normal;
    }
  }

  hr {
    margin: 2rem 0;
  }

  .u-float-left {
    float: left;
  }

  .u-float-right {
    float: right;
  }
}
