.node--type-article {

  &.node--view-mode-teaser {
    height: 100%;
    background-color: var(--c-gray);

    .node-content {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas:
        "media"
        "title"
        "desc";

      .c-node-article--media-block {
        grid-area: media;
        border-bottom: 5px solid var(--c-tag-theme-primary);

        .media--view-mode-teaser {
          overflow: hidden;
          background-color: var(--c-dim-gray);
          transition: background-color 1s var(--cubic-basic) 0s;

          &.m-loaded {
            background-color: transparent;
          }

          img {
            transition: scale 1s var(--cubic-basic) 0s, opacity 1s var(--cubic-basic) 0s;
            scale: 1;
            opacity: 0;

            &.loaded {
              opacity: 1;
            }
          }
        }
      }

      .c-node-article--title-block {
        grid-area: title;

        .c-node-article--eyebrow {
          @include f-text--small-cta;
          margin: 1rem 1rem 1rem;
          /* color: var(--c-tag-theme-primary); */

          span {
            color: var(--c-tag-theme-fg-color);
            background-color: var(--c-tag-theme-bg-color);
            padding: 0.5em 1em;
            border-radius: 1em;
          }
        }

        h2, h3, h4, h5, h6 {
          @include f-title--h4;
          margin: 0.25rem 1rem 0;

          transition: text-decoration-color 0.24s var(--cubic-basic);
          text-decoration: underline;
          text-decoration-color: transparent;
        }

        .c-node-article--subtitle {
          @include f-title--subhead;
          font-style: italic;
          margin: 0.25rem 1rem 0;
          transition: text-decoration-color 0.24s var(--cubic-basic);
          text-decoration: underline;
          text-decoration-color: transparent;
        }
      }

      .c-node-article--desc-block {
        grid-area: desc;
        margin: 1rem 1rem;
      }

      &:hover {
        .media--view-mode-teaser {
          img {
            scale: 1.08;
          }
        }


        .c-node-article--title-block {
          h2, h3, h4, h5, h6, .c-node-article--subtitle {
            text-decoration-color: var(--c-polynesian-blue);
          }
        }
      }
    }
  }

  &.node--view-mode-full {

  }
}


.paragraph--type--wysiwyg {
  /* h2 {
    border-bottom: 5px solid var(--c-saffron);
  }
  h3 {
    border-bottom: 4px solid var(--c-cerulean);
  }
  h4 {
    border-bottom: 3px solid var(--c-powder-blue);
  }
  h5 {
    border-bottom: 2px solid var(--c-delft-blue);
  }
  h6 {
    border-bottom: 1px solid var(--c-dim-gray);
  } */
}
