footer {
  background-color: var(--c-gray);
  margin-top: 3rem;
  border-top: 6px solid var(--c-red);
  padding: 2rem 0 4rem;

  .region--footer {
    max-width: $content-container;
    margin: 0 auto;
  }

  ul.menu {
    li {
      display: inline-block;

      svg {
        transition: color 0.25s var(--cubic-basic) 0s;
      }

      &:hover {
        svg {
          color: var(--c-polynesian-blue);
        }
      }
    }
  }

  #block-copyright {
    color: var(--c-delft-blue);
    font-weight: 600;
  }

}
