header.c-global-header {

  border-bottom: 6px solid var(--c-red);

  @media (--sm) {
    border-bottom-color: transparent;
  }

  .region--header {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    width: 95%;
    max-width: $content-container;
    margin: 0 auto;
  }

  .site-branding {
    width: 100%;

    @media (--sm) {
      width: 58%;
    }

    .block-content {
      text-align: center;
      position: relative;

      @media (--sm) {
        text-align: left;
        top: 17px;
      }
    }

    .site-logo {
      display: inline-block;
      width: 100%;
      margin-bottom: 0.5rem;

      @media (--sm) {
        width: 110px;
        margin-right: -10px;
        margin-bottom: 0rem;
      }

      svg {
        max-width: 110px;
        position: relative;
        top: 15px;
        /* background: var(--c-white); */
      }
    }

    .site-name {
      display: inline-block;
      font-family: var(--f-serif);
      font-size: 3rem;
      line-height: 2.8rem;
      width: 100%;
      color: var(--c-red);
      position: relative;
      margin-bottom: 0.5rem;

      @media (--sm) {
        width: auto;
        font-size: 4rem;
        line-height: 3.8rem;
        margin-bottom: 0rem;
      }

      a {
        display: inline-block;
        position: relative;
        transition: text-decoration-color 0.24s var(--cubic-basic);
        text-decoration: underline;
        text-decoration-color: transparent;
      }
    }
  }


  .branding-wrapper {
    display: inline-block;
    position: relative;

    .branding {
      display: inline-block;
      position: relative;
      padding-right: 16px;

      @media (--sm) {

        &:before,
        &:after {
          content: "";
          display: block;
          position: absolute;
          height: 6px;

          background-color: var(--c-red);
          transition: width 1s var(--cubic-basic);

          bottom: 11px;
          left: 100%;
          width: 400%;
        }

        &:before {
          left: auto;
          right: 100%;
          width: 0%;

          /* background-color: var(--c-delft-blue); */

          background: linear-gradient(-90deg, var(--c-delft-blue) 60%, transparent);
          width: 0%;
        }
      }
    }


    @media (--sm) {
      &:before,
      &:after {
        content: "";
        display: block;
        position: absolute;
        height: 6px;

        /* background-color: var(--c-delft-blue); */
        background: linear-gradient(90deg, var(--c-delft-blue) 60%, transparent);
        transition: width 1s var(--cubic-basic);

        bottom: 11px;
        left: 100%;
        width: 0%;
      }

      &:before {
        left: auto;
        right: 100%;
        width: 400%;

        background-color: var(--c-red);
      }
    }

    &:hover {
      .circle {
        transform: translateY(15px);
      }

      a {
        /* text-decoration-color: var(--c-red); */
      }

      .branding:before {
        width: 400%;
      }

      .branding:after {
        /* width: 400%; */

      }

      &:before {

      }

      &:after {
        width: 400%;
      }
    }
  }

  nav {
    width: 100%;
    text-align: center;

    @media (--sm) {
      width: 42%;
      text-align: right;
    }

    ul:not(.contextual-links) {
      li {
        font-size: 1.6rem;
        font-weight: 500;
        display: inline-block;
        margin-right: 1rem;

        &:last-child {
          margin-right: 0;
        }

        a {
          transition: text-decoration-color 0.24s var(--cubic-basic), color 0.24s var(--cubic-basic);
          text-decoration: underline;
          text-decoration-color: transparent;

          &:hover {
            color: var(--c-polynesian-blue);
            text-decoration-color: var(--c-polynesian-blue);
          }
        }
      }
    }
  }

  #block-subnav {

    margin-top: 0.25em;

    @media (--sm) {
      width: 100%;
      /* margin-left: 58%; */
      margin-top: 12px;
    }

    ul li {
      a {
        padding: 0.2rem 1rem;
        border: 2px solid var(--c-polynesian-blue);
        background-color: transparent;
        color: var(--c-polynesian-blue);
        font-weight: 600;
        border-radius: 1.5rem;
        cursor: pointer;
        /* margin-right: 1rem; */
        font-size: 1rem;
        transition: background-color 0.6s var(--cubic-basic), color 0.35s var(--cubic-basic);

        &.is-active {
          background-color: var(--c-saffron--bg);
          /* color: var(--c-saffron); */
        }
      }

      &:hover a {
        background-color: var(--c-polynesian-blue);
        color: var(--c-ivory);
        text-decoration-color: transparent;

        &.is-active {
          /* background-color: var(--c-saffron--bg); */
          /* color: var(--c-saffron); */
        }
      }
    }
  }

}
