header.c-global-header {

  border-bottom: 6px solid var(--c-red);

  .region--header {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    max-width: $content-container;
    margin: 0 auto;
  }

  .site-branding {
    width: 100%;

    @media (--sm) {
      width: 50%;
    }

    .block-content {
      text-align: center;
      position: relative;

      @media (--sm) {
        text-align: left;
        top: 17px;
      }
    }

    .site-logo {
      display: inline-block;
      width: 100%;
      margin-bottom: 0.5rem;

      @media (--sm) {
        width: 110px;
        margin-right: -10px;
        margin-bottom: 0rem;
      }

      svg {
        max-width: 110px;
        position: relative;
        top: 15px;
        background: var(--c-white);
      }
    }

    .site-name {
      display: inline-block;
      font-family: var(--f-serif);
      font-size: 3rem;
      line-height: 2.8rem;
      width: 100%;
      color: var(--c-red);
      position: relative;
      margin-bottom: 0.5rem;

      @media (--sm) {
        width: auto;
        font-size: 4rem;
        line-height: 3.8rem;
        margin-bottom: 0rem;
      }

      a {
        display: inline-block;
        position: relative;
        transition: text-decoration-color 0.24s var(--cubic-basic);
        text-decoration: underline;
        text-decoration-color: transparent;
      }

      @media (--sm) {
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 107%;
          height: 100%;
          background-color: var(--c-white);
        }
      }
    }

    &:hover {
      .circle {
        transform: translateY(15px);
      }

      a {
        text-decoration-color: var(--c-red);
      }
    }
  }

  nav {
    width: 100%;
    text-align: center;

    @media (--sm) {
      width: 50%;
      text-align: right;
    }

    ul:not(.contextual-links) {
      li {
        font-size: 1.6rem;
        font-weight: 500;
        display: inline-block;
        margin-right: 1rem;

        &:last-child {
          margin-right: 0;
        }

        a {
          transition: text-decoration-color 0.24s var(--cubic-basic), color 0.24s var(--cubic-basic);
          text-decoration: underline;
          text-decoration-color: transparent;

          &:hover {
            color: var(--c-polynesian-blue);
            text-decoration-color: var(--c-polynesian-blue);
          }
        }
      }
    }
  }
}
