.layout-container {
  overflow: hidden;
}

main {
  min-height: 65vh;

  .region--messages {
    max-width: $content-container;
    margin: 0 auto;
  }

  .layout-content {
    width: 95%;
    max-width: $content-container;
    margin: 0 auto;

    /* @media (--lg) {
      width: 95%;
    } */

    /* background: #aaaaaaaa; */
  }
}

#block-pai-page-title {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 5% 1fr 5%;

  @media (--lg) {
    grid-template-columns: 1fr $text-container 1fr;
  }

  h1 {
    margin: 1rem 0 1rem;
    @include f-title--h1;
    grid-column-start: 2;

    @media (--lg) {
      margin: 2rem 0 1rem;
    }
  }

  .c-subtitle {
    @include f-title--h3;
    grid-column-start: 2;
  }
}

.node {
  &.node--unpublished,
  .paragraph--unpublished {
    /* background: pink; */
    /* border-left: 10px solid ; */
    /* padding-left: 10px; */
    background-color: transparent;

    &:before {
      content: '';
      position: absolute;
      top: -20px;
      bottom: -20px;
      left: -25px;
      width: 50px;
      z-index: -1;
      background: linear-gradient(to left, #ff000033, transparent);
    }
  }

  img {
    width: 100%;
  }
}
