.layout-container {
  overflow: hidden;
}

main {
  min-height: 65vh;

  .region--messages {
    max-width: $content-container;
    margin: 0 auto;
  }

  .layout-content {
    width: 95%;
    max-width: $content-container;
    margin: 0 auto;

    /* @media (--lg) {
      width: 95%;
    } */

    /* background: #aaaaaaaa; */
  }
}

#block-pai-page-title {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 5% 1fr 5%;

  @media (--lg) {
    grid-template-columns: 1fr $text-container 1fr;
  }

  h1 {
    @include f-title--h1;
    margin: 1rem 0 1rem;
    grid-column-start: 2;
  }

  .c-subtitle {
    @include f-title--h3;
    grid-column-start: 2;
  }
}

.node {
  &.node--unpublished {
    background: pink;
  }

  img {
    width: 100%;
  }
}
