@import "../01-generic/mixins.css";
@import "../01-generic/variables.css";

.media {

  &.media--type-document {
    &.media--view-mode-download {

      a {
        display: inline-block;
        padding: 1rem;
        background-color: var(--c-delft-blue);
        color: var(--c-white);
        border-radius: 100px;
        font-weight: 600;

        transition: background-color 0.24s var(--cubic-basic), color 0.24s var(--cubic-basic);
      }

      &:hover a {
        background-color: var(--c-saffron);
        color: var(--c-delft-blue);
      }
    }
  }

  &.media--view-mode-vertical-pan {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    aspect-ratio: 16/9;

    /* padding: 5px;
    background-color: var(--c-delft-blue); */

    img {
      width: 100%;
      transition: transform 100s ease-in-out 2s;

      &.vp-resetting {
        transition-duration: 0s !important;
        transition-delay: 0s!important;
      }
    }
  }
}

.media--type-remote-video {
  max-width: 800px;
  margin: 0 auto;

  .iframe-wrapper {
    position: relative;
    height: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.media--type-video {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;

  video {
    height: auto;
    width: 100%;
  }
}

.paragraph--type--media.c-image--count--1 {
  > .paragraph--content {
    max-width: 800px;
    margin: 0 auto;
  }
}

.paragraph--type--media.c-image--row-count--1 {
  > .paragraph--content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .media {
      width: 100%;
    }
  }
}

.paragraph--type--media.c-image--row-count--2 {
  > .paragraph--content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .media {
      width: 49%;
    }
  }
}

.paragraph--type--media.c-image--row-count--3 {
  > .paragraph--content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & .media {
      width: 32%;
      max-width: 32%;
    }
  }
}

.media--type-image {

  &.media--view-mode-image-gallery-16x9,
  &.media--view-mode-image-gallery-4x3,
  &.media--view-mode-image-gallery-1x1 {

    .ajax-progress.ajax-progress-throbber {
      position: fixed;
      z-index: 99999999;
      background: rgba(255, 255, 255, 0.9);
      text-align: center;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;

      .throbber {
        left: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        background: transparent url(../../../assets/dist/images/throbber.gif) no-repeat 0 top;
        background-size: 26px;
        width: 25px;
        height: 25px;
      }
    }
  }
}

.media.media--type-image.media--view-mode-full {
  display: grid;

  justify-items: center;
  /* text-align: center; */
  padding: 2em;
  padding-bottom: 3em;
  /* min-width: 90vw;
  min-height: 90vh; */
  border-top: 5px solid var(--c-polynesian-blue);
  /* width: 100%; */
  width: fit-content;
  block-size: fit-content;
  min-width: 50em;
  max-width: 100%;
  margin: 2em auto 0;

  img {
    /* max-height: 80vh; */
    display: inline-block;
  }

  .credits {
    text-align: right;
    font-style: italic;
  }

  .caption {
    padding: 1em 1em 0;
    width: 100%;
    max-width: 50em;
  }
}
