.media {

  &.media--type-document {
    &.media--view-mode-download {

      a {
        display: inline-block;
        padding: 1rem;
        background-color: var(--c-delft-blue);
        color: var(--c-white);
        border-radius: 100px;
        font-weight: 600;

        transition: background-color 0.24s var(--cubic-basic), color 0.24s var(--cubic-basic);
      }

      &:hover a {
        background-color: var(--c-saffron);
        color: var(--c-delft-blue);
      }
    }
  }

  &.media--view-mode-vertical-pan {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    aspect-ratio: 16/9;

    /* padding: 5px;
    background-color: var(--c-delft-blue); */

    img {
      width: 100%;
      transition: transform 100s ease-in-out 2s;

      &.vp-resetting {
        transition-duration: 0s !important;
        transition-delay: 0s!important;
      }
    }
  }
}

.media--type-remote-video {
  max-width: 800px;
  margin: 0 auto;

  .iframe-wrapper {
    position: relative;
    height: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.media--type-video {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;

  video {
    height: auto;
    width: 100%;
  }
}

.paragraph--type--media.c-image--count--1 {
  > .paragraph--content {
    max-width: 800px;
    margin: 0 auto;
  }
}

.paragraph--type--media.c-image--row-count--1 {
  > .paragraph--content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .media {
      width: 100%;
    }
  }
}

.paragraph--type--media.c-image--row-count--2 {
  > .paragraph--content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .media {
      width: 49%;
    }
  }
}

.paragraph--type--media.c-image--row-count--3 {
  > .paragraph--content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & .media {
      width: 32%;
      max-width: 32%;
    }
  }
}
