.node.node--type-page {
  &.node--view-mode-full {

    > .node-content {
      display: grid;
      grid-template-columns: 5% 1fr 5%;

      @media (--lg) {
        grid-template-columns: 1fr $text-container 1fr;
      }
    }

    .paragraph.paragraph--type--wysiwyg {
      grid-column: 2 / span 1;
      max-width: 50em;
    }

    .paragraph.paragraph--type--view-reference {
      grid-column: 1 / span 3;

      @media (--sm) {
        margin: 3.5rem 0;
      }

      @media (--sm-md) {
        margin: 7rem 0;
      }

      &:first-child {
        margin-top: 0;
      }
    }
  }
}
