form.quick-edit-media,
form.quick-edit-project {
  display: flex;
  gap: 1em;
  align-items: center;
}

.form-element.qe-element.qe-working {
  box-shadow: 0px 0px 10px yellow;
}

.form-element.qe-element.qe-success {
  box-shadow: 0px 0px 10px green;
}

.form-element.qe-element.qe-error {
  box-shadow: 0px 0px 10px red;
}
